.interests, .bio {
    text-align: center;
}

.spaceXCard {
    background-color: rgb(11, 14, 91);
    width: fit-content;
    height: auto;
}

.interestContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin: auto;
}

.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: #990033;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    margin: 5px;
    
    /* box-shadow: 10px 10px #9DA2AB; */
    /* box-shadow: 10px 10px #F4F2F3; */
    /* box-shadow: 10px 10px #9E643C; */
}

.interest:hover {
    box-shadow: 10px 10px 10px 1px;
    transform: scale(1.05);
  }

.interest a {
    color: black;
}

.interestImageSpaceX {
    border-radius: 5%;
    width: 150px;
    height: 150px;
    background-image: url('https://pbs.twimg.com/profile_images/1082744382585856001/rH_k3PtQ_400x400.jpg');
    background-size: contain;
}

.interestImageArduino {
    border-radius: 5%;
    width: 150px;
    height: 150px;
    background-color: white;
    background-image: url('../public/images/arduino.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
}

.interestImagePrinting {
    border-radius: 5%;
    width: 150px;
    height: 150px;
    background-color: white;
    background-image: url('../public/images/3dprinter.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}

.interestImageGolf {
    border-radius: 5%;
    width: 150px;
    height: 150px;
    background-color: white;
    background-image: url('../public/images/golf.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}