@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --mainColor: #15202B;
  --secondaryColor: #192734;
  --borderColor: #164D56;
  --mainText: #fff;
  --secondaryText: #eeeeee;
  --themeDotBorder: #FFF;
  --previewBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #111921;
  --buttonColor: #17a2b8;
}


html {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='95.84' height='83' viewBox='0 0 34.64101615137755 30' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(rgb(40, 52, 65))'/%3E%3Cpath d='M-20-20h200v200h-200M25.98 30L25.98 30L25.98 30L25.98 30L25.98 30L25.98 30zM8.66 30L8.66 30L8.66 30L8.66 30L8.66 30L8.66 30zM0 15L0 15L0 15L0 15L0 15L0 15zM8.66 0L8.66 0L8.66 0L8.66 0L8.66 0L8.66 0zM25.98 0L25.98 0L25.98 0L25.98 0L25.98 0L25.98 0zM34.64 15L34.64 15L34.64 15L34.64 15L34.64 15L34.64 15zM17.32 15L17.32 15L17.32 15L17.32 15L17.32 15L17.32 15z' fill='rgba(26, 32, 44,0)'/%3E%3Cpath d='M-20-20h200v200h-200M24.21 25.25L15.98 20.5L7.75 25.25L7.75 34.75L15.98 39.5L24.21 34.75zM6.89 25.25L-1.34 20.5L-9.57 25.25L-9.57 34.75L-1.34 39.5L6.89 34.75zM-1.77 10.25L-10 5.5L-18.23 10.25L-18.23 19.75L-10 24.5L-1.77 19.75zM6.89-4.75L-1.34-9.5L-9.57-4.75L-9.57 4.75L-1.34 9.5L6.89 4.75zM24.21-4.75L15.98-9.5L7.75-4.75L7.75 4.75L15.98 9.5L24.21 4.75zM32.87 10.25L24.64 5.5L16.41 10.25L16.41 19.75L24.64 24.5L32.87 19.75zM41.53 25.25L33.3 20.5L25.07 25.25L25.07 34.75L33.3 39.5L41.53 34.75zM15.55 40.25L7.32 35.5L-0.91 40.25L-0.91 49.75L7.32 54.5L15.55 49.75zM-10.43 25.25L-18.66 20.5L-26.89 25.25L-26.89 34.75L-18.66 39.5L-10.43 34.75zM-10.43-4.75L-18.66-9.5L-26.89-4.75L-26.89 4.75L-18.66 9.5L-10.43 4.75zM15.55-19.75L7.32-24.5L-0.91-19.75L-0.91-10.25L7.32-5.5L15.55-10.25zM41.53-4.75L33.3-9.5L25.07-4.75L25.07 4.75L33.3 9.5L41.53 4.75zM32.87 40.25L24.64 35.5L16.41 40.25L16.41 49.75L24.64 54.5L32.87 49.75zM-1.77 40.25L-10 35.5L-18.23 40.25L-18.23 49.75L-10 54.5L-1.77 49.75zM-19.09 10.25L-27.32 5.5L-35.55 10.25L-35.55 19.75L-27.32 24.5L-19.09 19.75zM-1.77-19.75L-10-24.5L-18.23-19.75L-18.23-10.25L-10-5.5L-1.77-10.25zM32.87-19.75L24.64-24.5L16.41-19.75L16.41-10.25L24.64-5.5L32.87-10.25zM50.19 10.25L41.96 5.5L33.73 10.25L33.73 19.75L41.96 24.5L50.19 19.75zM15.55 10.25L7.32 5.5L-0.91 10.25L-0.91 19.75L7.32 24.5L15.55 19.75z' fill='rgba(31, 175, 123, 0.50)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

body {
  background-color: rgba(40, 52, 65, 0.918);
  min-height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body * {
  transition: 0.3s;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea,
small,
table {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

.honeypt {
  display: none;
}

a {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;

}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.content {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  /*   background-color: rgba(255, 255, 255, 0.096);
  box-shadow: 2rem 0px 1rem rgba(255, 255, 255, 0.096), -2rem 0 1rem rgba(255, 255, 255, 0.096); */
}

.content hr {
  width: 100%;
  height: 2px;
  border-width: 0;
  color: #1FAF7B;
  background-color: #1FAF7B;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  filter: drop-shadow(5px 5px 0px #1FAF7B);
  border-radius: 5px;
  background-image: url('/images/thompsonCameron.jpg');
  background-size: cover;
}

.heroInfo {
  width: 45rem;
  display: flex;
  flex-direction: column;
}

.heroInfo h1 {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 0;
}

.heroInfo h2 {
  font-size: 1.75rem;
}

.heroLinkContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heroLink {
  background: #1FAF7B;
  box-shadow: 5px 5px 0px #000000;
  border-radius: 5px;
  width: 118px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.heroLink:hover {
  box-shadow: -5px -5px 0px #000000;
}

.heroLink a {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright {
  text-align: center;
  margin: 0 0;
}

footer img {
  width: 40px;
  margin: auto;
  margin-bottom: 16px;
}

footer p {
  text-align: center;
  margin-bottom: 0;
}

.footerLinks {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
}

.footerLinks ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footerLinks li {
  list-style-type: none;
  float: left;
}

.footerLinks li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.cover {
  width: 100%;
  height: 420px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: contain;

}


.load {
  display: flex;
  justify-content: center;
}



.cardContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 50em;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.return-home {
  display: flex;
  justify-content: center;
  margin-bottom: 40vh;
  animation: fadeIn 0s 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.return-home a {
  border: 1px solid var(--mainText);
  border-radius: 2px;
  padding: 6px;
  text-align: center;
  margin: auto;
}

#preview {
  color: black;
  width: 300px;
  padding: 15px;
  position: relative;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  background: inherit;
  border-radius: 2px;
}

.about-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  margin-top: 2em;
}

.about-me h4 {
  text-align: center;
}

.about-me,
.skill-image-container {
  max-width: 45%;
}


#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-height: 8.125em;
  max-width: 30em;
  margin: 0%;
}

#skills div {
  margin: 3px;
  font-family: 'Roboto Mono', monospace;
  color: white;
}


#skill-image {
  width: 100%;
  filter: drop-shadow(5px 5px 0px #1FAF7B);
  border-radius: 5px;
}

.more-button {
  border: 1px solid var(--mainText);
  border-radius: 2px;
  padding: 6px;
  width: 85px;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1.25em;
}

#bottom-button {
  margin-top: 2em;
  margin-bottom: 1.25em;
}

.post-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.post {
  padding: 3px;
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

.hundred-wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.copy-notice {
  text-align: center;
  font-size: small;
}



.npm-card {
  cursor: pointer;
  max-width: 630px;
  margin: 0 auto;
  text-align: center;
}


#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;

}

#contact-form label {
  line-height: 1.2em;
}

.input-field {
  margin-bottom: 25px;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}


.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

.copy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copy-notice {
  font-size: 15px;
}


#submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  text-align: center;
  margin-bottom: 0;
}

#footerImg {
  width: 40px;
  margin: auto;
}

.footerLinks {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;

}

.footerLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footerLinks li {
  float: left;
}

.footerLinks li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}



@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 850px) {


  .article img {
    height: auto;
    max-width: 100%;
  }

  #skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav-wrapper'
      'left-column'
      'right-column'
    ;
  }

  .right-column {
    justify-content: center;
  }

  #preview-shadow {
    max-width: 280px;
    height: 180px;
    padding-left: 15px;
    padding-top: 15px;
  }

  #preview {
    max-width: 280px;
  }

  .cover {
    height: 200px;
  }

  h1 {
    font-size: 30px;
  }


  .article {
    max-width: 550px;
    font-size: 13px;
    overflow-wrap: break-word;
    margin: 0 5px;
  }

  .article h1 {
    margin-top: 0;
  }

  .article-body h1 {
    font-size: 26px;
  }

  .article h2 {
    font-size: 24px;
  }

  .skill-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerLinks a {
    font-size: 16px;
    padding: 10px;
  }


}

@media screen and (max-width: 650px) {

  .cover {
    height: 200px;
  }

  h1 {
    font-size: 30px;
  }


  .article {
    max-width: 300px;
    font-size: 13px;
    overflow-wrap: break-word;
    margin: 0 5px;
  }

  .article h1 {
    margin-top: 0;
  }

  .article-body h1 {
    font-size: 26px;
  }

  .article h2 {
    font-size: 24px;
  }

  .about-wrapper {
    flex-direction: column;
    padding: 0;
  }

  .about-me,
  .skill-image-container {
    max-width: 100%;
  }

  .skill-image-container {
    display: flex;
    flex-direction: column-reverse;
  }

  #skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 275px;
    min-height: 300px;
    margin: auto;
  }

  .footerLinks a {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {



  .cover {
    height: 200px;
  }

  h1 {
    font-size: 30px;
  }


  .article {
    max-width: 300px;
    font-size: 13px;
    overflow-wrap: break-word;
    margin: 0 5px;
  }

  .article h1 {
    margin-top: 0;
  }

  .article-body h1 {
    font-size: 26px;
  }

  .article h2 {
    font-size: 24px;
  }

  .about-wrapper {
    flex-direction: column;
    padding: 0;
  }

  .about-me,
  .skill-image-container {
    max-width: 100%;
  }

  .skill-image-container {
    display: flex;
    flex-direction: column-reverse;
  }

  #skills {
    display: flex;
    flex-direction: column;

  }

  .footerLinks a {
    font-size: 12px;
    padding: 10px;
  }
}


@media screen and (max-width: 400px) {


  #skills p {
    text-align: center;
  }

  .cover {
    height: 200px;
  }

  h1 {
    font-size: 30px;
  }


  .article {
    max-width: 300px;
    font-size: 13px;
    overflow-wrap: break-word;
    margin: 0 5px;
  }

  .article h1 {
    margin-top: 0;
  }

  .article-body h1 {
    font-size: 26px;
  }

  .article h2 {
    font-size: 24px;
  }

  .about-wrapper {
    flex-direction: column;
    padding: 0;
  }

  .about-me,
  .skill-image-container {
    max-width: 100%;
  }

  .skill-image-container {
    display: flex;
    flex-direction: column-reverse;
  }

  #skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 275px;
    min-height: 275px;
    margin: auto;
  }

  .footerLinks a {
    font-size: 12px;
    padding: 10px;
  }

}

@media screen and (max-width: 320px) {

  .cover {
    height: 200px;
  }

  h1 {
    font-size: 30px;
  }

  #preview {
    width: 300px;
    padding: 5px;
  }


  .article {
    max-width: 300px;
    font-size: 13px;
    overflow-wrap: break-word;
    margin: 0 5px;
  }

  .article h1 {
    margin-top: 0;
  }

  .article-body h1 {
    font-size: 26px;
  }

  .article h2 {
    font-size: 24px;
  }

  #skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 275px;
    min-height: 275px;
    margin: auto;
  }

  .s2 {
    margin: 5px;
  }

  .about-wrapper {
    flex-direction: column;
    padding: 0;
  }

  .about-me,
  .skill-image-container {
    max-width: 100%;
  }

  .skill-image-container {
    display: flex;
    flex-direction: column-reverse;
  }


  .footerLinks a {
    font-size: 10px;
  }

}