.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.latest {

    height: auto;
    width: 100em;
}

.latestInner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.patch {
    filter: drop-shadow(0 0 10px #1FAF7B);
}

.launchInfo {
    margin: 3px;
    width: 20em;
}

.images {
    display: flex;
    justify-content: center;
    width: 50em;
    height: 34em;
}

.images img {
    filter: drop-shadow(0 0 10px #1FAF7B);
    max-width: 50em;
    max-height: 34em;
}

.upcoming {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    width: 100em;
}

.upcoming div {
    margin: 5px;
}