body {
    background: #189AB6;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    color: white;
  }

  #content{
    max-width: 960px;
    margin: auto;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header h1 {
    font-size: 40px;
    color: white;
    font-family: Varela Round,sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
  }

  header h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Varela Round,sans-serif;
    margin: 0;
    padding: 0;
  }
#logo {
  width: 9%;
  margin-top: 30px;
  margin-bottom: 30px;
}

  
  a {
    color: #bbbbc4;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  a:hover {
    color: #555555;
  }

  p {
    color: white;
  }
  

  .button {
    box-sizing: border-box!important;
    background-color: initial!important;
    border: 0!important;
    border-radius: 0!important;
    box-shadow: inset 0 0 0 2px #fff!important;
    color: #fff!important;
    cursor: pointer!important;
    display: inline-block!important;
    font-size: .8em!important;
    font-weight: 600!important;
    height: 3.5em!important;
    letter-spacing: .25em!important;
    line-height: 3.5em!important;
    padding: 0 1.75em!important;
    text-align: center!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    white-space: nowrap!important;
    margin-bottom: 2rem!important;
}

.button:hover {
  border-bottom-color: transparent !important;
  color: #555555 !important;
  box-shadow: inset 0 0 0 2px #555555 !important
}

canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footerImg {
  width: 40px;
  margin: auto;
}
.footerLinks {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#projects h2 {
  margin-bottom: 0;
  font-size: 30px;
}

#githubProjectsHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#githubProjects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.projectHeader a{
  color: white;
}

.githubProject {
  height: 200px;
  width: 300px;
  margin: 10px 0px 10px 0;
  word-wrap: break-word;
}

.githubProject a {
  color: white;
}



@media screen and (max-width: 700px){
  #logo{
    width: 15%;
  }
}


@media screen and (max-width: 600px){
  body{ 
    margin-left: 15px;
  }
  
  #logo{
    width: 25%;
  }

  #githubProjects {
    display: flex;
    flex-direction: column;
  }

  .githubProject{
    margin-left: 0;
    width: 355px;
  }
}